.button {
  position: relative;
  margin: 20px auto;
  background-color: #a955b4da;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(104%);
  transition: transform 0.5s ease;
}
