.wrapperImagesCaroussel {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: url(../public/papierJaponais.webp);
  background-size: contain;
}

.imagesProductsBanner {
  border-radius: 50%;
}