.cartWrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cartContainer {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}
.cartHeading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cartHeading .heading {
  margin-left: 10px;
}
.cartNumItems {
  margin-left: 10px;
  color: #f02d34;
}
.emptyCart {
  margin: 40px;
  text-align: center;
}
.emptyCart h3 {
  font-weight: 600;
  font-size: 20px;
}
.productContainer {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cartProductImage {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.itemDesc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.flex h5 {
  font-size: 24px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.removeItem {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cartBottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btnContainer {
  width: 400px;
  margin: auto;
}

.btn {
  position: relative;
  margin: 20px auto;
  background-color: #8D3998;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  transform: scale(104%);
  transition: transform 0.5s ease;
}
