/* Cet div est présente afin de pouvoir sortir 
du panier en cliquant en dehors */
.cartOverlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 95;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

.cartWrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.cartContainer {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}
.cartHeading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cartHeading .heading {
  margin-left: 10px;
}
.cartNumItems {
  margin-left: 10px;
  color: #f02d34;
}
.emptyCart {
  margin: 40px;
  text-align: center;
}
.emptyCart h3 {
  font-weight: 600;
  font-size: 20px;
}
.productContainer {
  margin-top: 15px;
  overflow: auto;
  padding: 20px 10px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.product .cartProductImage {
  width: 220px;
  height: 200px;
  border-radius: 5px;
  background-color: #ebebeb;
}
.itemDesc .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.total h5,
.flex h5,
.flex h4 {
  font-size: 24px;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.quantityDesc {
  border: 1px solid gray;
  padding: 6px;
}
.quantityDesc span {
  font-size: 16px;
  padding: 6px 10px;
  cursor: pointer;
}
.quantityDesc .minus {
  color: #f02d34;
}
.quantityDesc .num {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 20px;
}
.quantityDesc .plus {
  color: rgb(49, 168, 49);
}

.removeItem {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cartBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 20px auto;
  background-color: #8d3998;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  transform: scale(104%);
  transition: transform 0.5s ease;
}

@media (max-width: 976px) {
  .cartWrapper {
    width: 100%;
  }
  .cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex h5,
  .flex h4 {
    font-size: 24px;
    margin: 0;
  }
}
