.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperfooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.separate {
  border: 1px solid #91CAED;
  width: 90%;
}

.confCgvContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 976px) {
  .copyrigth {
    display: none;
  }
}