html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  position: relative;
  margin: auto;
  /* max-width: 1450px; */
}

p,
a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
}

h2 {
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
  
}
