.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #53b1ebac, #e2eff9ef, #f8fcff30), url('../public/Eclaboussures.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.searchAndCart,
.logoAndNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loop {
  position: relative;
  left: 2px;
  top: 2px;
  background: white;
  margin-right: 5px;
}

.searchBar {
  padding: 6px 0;
  width: 180px;
  border: 1px solid white;
  border-radius: 0 5px 5px 0;
}

.searchBar:focus {
  outline: none;
}

.searchAndCartWrapper {
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #91caed;
}

.cartIcon {
  background: none;
  margin: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.cartItemQty {
  position: absolute;
  right: 12px;
  font-size: 15px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.logo {
  margin: 16px;
  object-fit: contain;
  border-radius: 50%;
}

.navul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}

.navli a {
  padding: 5px 0;
  font-weight: 500;
}

.navul > li {
  margin: 0 1rem;
  overflow: hidden;
}

.navSearch {
  display: none;
}

.menuButtonContainer {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle {
  display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: rgb(156, 154, 154);
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 3px;
}

.menuButton::before {
  content: "";
  margin-top: -6px;
}

.menuButton::after {
  content: "";
  margin-top: 6px;
}

#menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

#menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 976px) {
  .loop,
  .searchBar {
    display: none;
  }
  .logo {
    padding: 0;
    margin: 8px 16px;
    object-fit: contain;
  }
  .logoAndNav {
    width: 100%;
  }
  .menuButtonContainer {
    display: flex;
  }
  .navul {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .searchBar2 {
    border: 1px solid #91caed;
    border-radius: 5px;
    padding: 8px 0;
    width: 180px;
  }
  .loop2,
  .searchBar2 {
    display: flex;
    margin-left: 7px;
  }
  .navSearch {
    display: flex;
  }
  #menuToggle ~ .navul li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menuToggle:checked ~ .navul li {
    /* border: 1px solid rgb(224, 224, 224); */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menuToggle:checked .header {
    z-index: 10;
    width: 100%;
    height: 100vh;
  }
  .navul > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #255a7bda;
  }
  .navul > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
