.backgroundFooter{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0, #a9d4eff0, #e5f5ffe6, #f8fcff62), url('../public/flower.jpg') no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wrapperImageAndCTA {
  max-width: 1100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 32px auto;
  text-align: center;
}

.wrapperImagesCaroussel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.imagesProductsBanner,
.imagesProducts {
  object-fit: cover;
  object-position: 25% 78%;
  border-radius: 5px;
}

.imagesProductsBanner1 {
  border-radius: 50%;
  position: relative;
  bottom: 55px;
  left: 10px;
}
.imagesProductsBanner2 {
  border-radius: 50%;
}
.imagesProductsBanner3 {
  border-radius: 50%;
  position: relative;
  top: 25px;
}
.imagesProductsBanner4 {
  border-radius: 50%;
}
.imagesProductsBanner5 {
  border-radius: 50%;
  position: relative;
  bottom: 55px;
  right: 10px;
}

.wrapperCTA {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.h1 {
  font-weight: 500;
  font-size: 2.4em;
}

.h2 {
  color: #10A4FE;
}

.hr {
  width: 80%;
}

.imagesProducts:hover {
  transform: scale(104%);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.sectionProducts {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 96px auto;
}

.sectionProducts h2 {
  font-weight: 400;
}

.wrapperProducts {
  text-align: center;
}

.imagesProducts {
  border-radius: 5px;
}

.sectionLivraison {
  margin: 96px 0;
  text-align: center;
}

.sectionAvis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avis1,
.avis2 {
  border: 1px solid #91caed;
  width: 320px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
}

.initialCircle {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.initialText {
  text-align: center;
}
@media (max-width: 976px) {
  .wrapperImageAndCTA {
    display: flex;
    flex-direction: column-reverse;
  }
  .bandeau {
    height: 35vh;
  }
  .h1 {
    font-size: 2.2em;
  }
  .sectionProducts {
    margin: 64px 0;
  }
}