.productDetailsH1,
.sectionProductDetails h2 {
  text-align: center;
}

.sectionProductDetails {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.smallImagesContainer {
  display: flex;
}

.smallImage {
  border-radius: 5px;
  margin: 10px 10px 10px 0;
}

.smallImage:hover {
  transform: scale(105%);
  cursor: pointer;
}

.selectedImage {
  border: 3px solid #8d3998;
}

.wrapperProductDetailsInfos {
  margin-left: 15px;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

/* Product quantity */
.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quantityDesc {
  border: 1px solid gray;
  padding: 6px;
  margin-left: 10px;
}
.quantityDesc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantityDesc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantityDesc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantityDesc .plus {
  color: rgb(49, 168, 49);
}

@media (max-width: 976px) {
  .sectionProductDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
